---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About Us">
  <div class="container" style="padding-top: 2rem;">
    <h1>About KnowX</h1>
    <p>We focus on providing industrial robot automation solution. </p>
  </div>
</Layout>
