---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Our Products">
  <div class="container" style="padding-top: 2rem;">
    <h1>Product Content</h1>
    <p>This is the product list..</p>
  </div>
</Layout>
